body{
	background-color: lightblue;
	font-size: 1.5em;
	font-family: sans-serif;
	width: 100%;
	}


li{
	list-style: none;
	border-left: 1px solid lightblue;
	padding-top:50px; 
	line-height:45px;
    display: block;
    padding: 10px 5px;
    left:10px;
}


#header-nav{ 
	border-radius: 0px;
	border: 0px;
	background-color: navy;                     /*navbar*/
	height: 70px;
	}


#header{ 
	color: white;
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 2em;
	text-decoration: none;                       /*icon "learn online" */
	position: relative;
	bottom: 2px;
	margin-left: -65px;
	line-height: 80px;
	}


#header-nav a:hover{
	color: lightblue;                          /*navbar*/
	}


#search{
	border-radius: 0px;
	border-left: 0px;
}


#inst{
	color: white;
	padding-left: 0px;
	padding-right: 0px;
}


#navbar-right-1{
	color: white;
}

#navbar-right-2{
	color: white;
}


#navbar-right-3{
	color: white;
}


#cata{
	padding: 0px 0px;
	width: 270px;
	right: 20px;
	padding-left: 10px;
}


.navbar-right{
	position: relative;
	left: 70px;
}



button .navbar-toggle a:hover{
	color: lightblue;
}


/***Extra Large devices only***/

@media(min-width: 1330px){
	#header{margin-left: -64px;
		margin-right: -20px;
		right: 30px;}
	#navbar-right-3{padding-right: 0px}
}


/****Extra Large devices 2*****/

@media(max-width: 1329px) and (min-width: 1310px){
	#header{margin-left: -85px;
		margin-right: 20px}
	#navbar-right-3{padding-right: 10px;}
}


/***Large devices only 1***/
@media(max-width: 1309px) and (min-width: 1285px){
	#header{margin-left: -70px;
		margin-right: 10px;}
	#navbar-right-3{padding-right: 10px;}
}

/***Large devices only 1.5***/
@media(max-width:1270px) and (min-width: 1250px){
	#header{margin-left:-50px;
		margin-right: 10px;}
	#navbar-right-3{padding-right: 25px;}
}

/***Large device ***/
@media(max-width: 1249px) and (min-width: 1200px){
	#header{margin-left: -30px;
		margin-right:10px;}
	#navbar-right-3{padding-right: 40px;
		right: 10px;}
}


/***Large devices only 2***/
@media(max-width:1199px) and (min-width: 1150px){
	#header{margin-left: -105px;}
	#navbar-right-3{margin-right: -40px;}
}


/***Large devices only 2***/
@media(max-width:1149px) and (min-width: 1110px){
	#header{margin-left: -85px;}
	#navbar-right-3{padding-right: 0px;}
}


/***Medium devices only 1***/
@media(max-width:1071px) and (min-width:1020px){
	#header{font-size:1.8em;
	margin-left: -40px;
	margin-right: 5px;}
	#navbar-right-3{padding-right: 35px;
		right: 10px;}
}


/***Medium devices only***/
@media(max-width:1019px) and (min-width:992px){
	#header{font-size:1.8em;
	margin-left: -20px;
	margin-right: 5px;}
	#navbar-right-3{padding-right: 45px;
		right: 10px;}
}

/***Medium devices2***/
@media(max-width:991px){
	#header{padding: 0px;
		margin: 0px;
		font-size: 2.5em;
		line-height: 40px;}
	#header-nav{height: 300px;}
	#inst{padding: 0px;
		margin: 0px;}
	#cata{padding: 0px;
		margin: 0px;}
	#i{padding: 0px;
		margin: 0px;}
	#ii{padding: 0px;
		margin: 0px;}
	#iii{padding: 0px;
		margin: 0px;}
}


/***Medium devices only 1
@media(max-width:991px) and (min-width:768px){
	#header{font-size: 1.5em;
		letter-spacing:-1px;
		left: 50px;}
	.navbar-right{margin-right:-58px;
		padding-left: 0px;}
}***/

/***Small devices only 
@media(max-width: 767px){
	#header{position: absolute;
		left: 80px;
		top: -14px;
		font-size: 1.8em;}
	#header-nav{height: 60px;}

}***/

















































