#come {color: #339933;
font-size: 25px;}
li {list-style: none;
border-left: 1px solid #8c8c8c;}
#Institutions {border-right: 1px solid #8c8c8c;}
#search {border-left: 0px;
color: #8c8c8c;}
#overallnav{font-size: 11px;}
